[Unit]
Description=My Node.js Web Application
ConditionPathExists=/opt/webapp

[Service]
Type=simple
User=csye6225
Group=csye6225
WorkingDirectory=/opt/webapp
ExecStart=/usr/bin/node /opt/webapp/server.js
Restart=always

[Install]
WantedBy=cloud-init.target