[Unit]
Description=My Node.js Web Application
ConditionPathExists=/home/admin/webapp/

[Service]
Type=simple
User=admin
Group=admin
WorkingDirectory=/home/admin/webapp
ExecStart=/usr/bin/node /home/admin/webapp/server.js
Restart=always

[Install]
WantedBy=cloud-init.target