[Unit]
Description=My Node.js Web Application
After=network.target

[Service]
ExecStart=/usr/bin/node /home/admin/webapp/server.js
Restart=always
User=csye6225
Group=csye6225
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/home/admin/webapp

[Install]
WantedBy=multi-user.target